html{
  width: 100%;
  height: 100vh;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{
  background-image:linear-gradient(
    0deg, rgba(0,0,0,0.75),  rgba(0,0,0,0.75)
) ,url(../src/images/rick-morty2.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.hola{
  width: 90%;
  margin: auto;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}